.nav img {
    width: 200px;
    background-size: auto;
    background-position: center;
}

.nav ul li {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}

.nav li:last-child {
    border: 1px solid #0CD977;
    border-radius: 5px;
    padding: 10px;
}

.nav li:last-child :hover {
    color: #0CD977;
}

.nav a {
    text-decoration: none;
    color: black;
}

.nav ul>li:last-child a {
    color: #0CD977;
    margin: 0;
}

.nav {
    display: flex;
    margin: 20px, 40px;
    justify-content: center;
}

.active a {
    color: #0CD977;
    text-decoration: underline;
}

#root>ul {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#root>ul>li {
    background-color: #2E3A46;
    width: 200px;
    height: 300px;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: darkgray;
}

#root>ul>li>img {
    margin-top: 10px;
    height: 100px;
    width: 100px;
    align-self: center;
}

#root>ul>li h3 {
    font-family: 'Lato', sans-serif;
    color: white;
    text-transform: uppercase;
    width: 80%;
    align-self: center;
    padding-bottom: 20px;
    height: 80px;
}

#root>ul>li:hover {
    border: 1px solid greenyellow;
}